.screen {
  font-size: 64px;
  margin: 42px 18px;
  text-align: right;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 47px 30px;
  margin-left: 15px;
}

.keyboard__btn:nth-child(1),
.keyboard__btn:nth-child(2) {
  margin-right: 52px;
}
