.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  width: 75px;
  height: 75px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  background: #d9d9d9;
}

.btn--secondary {
  background: #fd8900;
}

.btn--large {
  width: 191px;
  height: 75px;
  border-radius: 20px;
  justify-content: flex-start;
  padding-left: 14px;
}

p {
  font-size: 32px;
}
