h1 {
  margin-left: 30px;
  font-weight: 700;
  font-size: 40px;
}

span {
  color: #fd8900;
}

.top-device {
  margin: 15px 0 26px 30px;
}

.top-device > span {
  font-weight: 100;
  font-size: 18px;
  color: black;
}
